.app {
  text-align: center;
}

.app > .header {
  width: 90vw;
  margin: 0 auto 85px;
  padding: 20px 20px;
}

.app > .card {
  display: block;
  box-sizing: border-box;
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
}

.app > .show-events {
  display: inline-block;
  margin-top: 40px;
}