@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
.sobre {
  width: 50px;
  height: 17px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
}